* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 100px;
}
h2 {
    font-size: 75px;
}

img {
    max-height: 100%;
    width: auto;
}

.twitter-pic {
    height: 50px;
}

marquee.MagicScroller {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
}

.test {
    color:green
}