* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 75px;
}
h2 {
    font-size: 50px;
}

img {
    max-width: 100%;
    max-height: auto;
}

.twitter-pic {
    width:500px;
}

marquee.MagicScroller {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
}

.test {
    color:green
}
